@font-face {
  font-family: "Oswald";
  src: url(/fuentes/Oswald/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Caveat";
  src: url(/fuentes/Caveat/Caveat-VariableFont_wght.ttf);
}

:root {
  --color-primario: #4e7745;
  --color-secundario: #fdf9ef;
  --color-terciario: #a0bf93;
  --color-cuarto: #c9511d;
  --tamaño-letra-mediano: 3.5em;
  --tamaño-letra-chico: 3em;
  --tamaño-extra-chico: 2em;
  --tamaño-movile: 1.5em;

  --feunte-titulo: "Caveat", cursive;
  --fuente-texto: "Oswald", sans-serif;
  --letra-fina: 300px;
  --letra-mediana: 500px;
  --letra-gruesa: 600px;
}
* {
  box-sizing: border-box;
  max-width: 100vw;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  
}
html {
  font-size: 10px;
  color: var(--color-primario);
}
body {
  background-image: url(imagenes/fondo-index-horizontal.webp);
  margin-top: 100px;
  padding: 0px;
}

.cont-saludo {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100px;
  text-align: center;
  font-family: var(--feunte-titulo);
  position: fixed;
  top: 0px;
  justify-content: center;
  align-items: center;
  background-image: url(imagenes/fondo-index-vertical.webp);
  z-index: 7000;
  overflow: hidden;

}

.cont-saludo nav {
  display: flex;
  justify-content: center;
  flex: 1;
}

nav ul li {
  display: inline-block;
  margin: 0px 5px;
  font-size: var(--tamaño-letra-chico);
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
  color: var(--color-cuarto);
}

.cont-saludo nav {
  display: flex;
  justify-content: center;
  flex: 1;
}

.saludo_img img {
  width: 150px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

nav ul li:hover {
  color: var(--color-terciario);
  transform: scale(1.1);
}
.instagram-nav {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  padding: 5px;
}

.contenedor-deimagenprincipal {
  height: 100vh;
  width: 100vw;
  background-image: url(imagenes/fondo-home-dos.webp);
  background-repeat: no-repeat;
  background-size: cover;
  animation: cambiodefoto 8s infinite steps(1);
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: end;
  align-content: end;
  align-items: end;
}

.contenedor-deimagenprincipal h1 {
  font-family: var(--feunte-titulo);
  font-size: 10em;
  color: var(--color-cuarto);
  margin: 0px;
  font-weight: var(--letra-gruesa);
  margin-bottom: 150px;
}
.contenedor-deimagenprincipal div img {
  width: 100px;
  margin-bottom: 160px;
}

#h2-home-prin {
  margin: 0px 300px;
  font-family: var(--fuente-texto);
  font-size: var(--tamaño-letra-chico);
  color: var(--color-primario);
  font-weight: 400;
}

.Beneficio-titulo_btn {
  width: max-content;
  padding: 5px 20px;

  border-radius: 25px;
  cursor: pointer;
  font-family: var(--fuente-texto);

  font-size: var(--tamaño-letra-chico);
  animation: bailar 2s 2 ease-in-out;
  background-color: var(--color-cuarto);
  color: var(--color-secundario);
}

.Beneficio-titulo_btn:hover {
  transform: scale(1.1);
}
.btn-visitanos-ig {
  width: max-content;
  padding: 5px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-family: var(--fuente-texto);
  font-size: var(--tamaño-letra-chico);
  background-color: var(--color-cuarto);
  color: var(--color-secundario);
}
.container-video {
  display: flex;
  justify-content: center;
  


  flex-direction: column;
  align-items: center;
  text-align: center;
 
}
.container-video h2 {
  font-family: var(--feunte-titulo);
  font-size: 5em;
  color: var(--color-cuarto);
  font-weight: var(--letra-gruesa);
  margin-bottom: 50px;
}
.container-video h2 span{
font-family: var(--fuente-texto);
  font-weight: var(--letra-gruesa);
  color: var(--color-primario);
  
 
}
.container-video p {
  font-family: var(--feunte-titulo);
  font-size: var(--tamaño-letra-chico);
  color: var(--color-primario);
  font-weight: 400;
  margin: 0 100px;
}
.video-negrita{
  font-weight: 900;
  color: var(--color-cuarto);
  margin-bottom: 50px;
  font-family: var(--feunte-titulo);
  font-size: var(--tamaño-letra-chico);
  color: var(--color-cuarto);
  margin: 25px 100px ;
}
.video-mayuscula{
  text-transform: uppercase;
  font-weight: 900;
  
}
.video-negrita-2{
  font-weight: 900;
  color: var(--color-cuarto);
  margin-bottom: 50px;
  font-family: var(--feunte-titulo);
  font-size: var(--tamaño-letra-chico);
  color: var(--color-cuarto);
  margin: 50px 100px ;
}
.container-tatocuota{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap:10px;
 background-color: var(--color-cuarto);
  padding: 20px ;
  border-top: 10px double var(--color-secundario);
  border-bottom: 10px double var(--color-secundario);
  margin: 20px 0px 100px;

}
.container-tatocuota h3{
  font-family: var(--fuente-texto);
  font-size: 4.5em;
  color: var(--color-secundario);
  font-weight: 600;
}
.container-tatocuota p{
  font-family: var(--fuente-texto);
  font-size: var(--tamaño-letra-chico);
  color: var(--color-secundario);
  font-weight: 400;
}
.container-tatocuota button{
  width: fit-content;
  background-color: var(--color-secundario);
  padding: 5px 10px;
  border-radius: 25px;
  cursor: pointer;
  font-family: var(--fuente-texto);
  color: var(--color-cuarto);
  font-size: var(--tamaño-letra-chico);
}
.video {
  width: 35%;
  height: auto;
}
.container-hermanos{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap:10px;
 background-color: var(--color-cuarto);
  padding: 20px ;
  border-top: 10px double var(--color-secundario);
  border-bottom: 10px double var(--color-secundario);
  margin: 20px 0px ;

}

.container-hermanos h3{
  font-family: var(--fuente-texto);
  font-size: 4.5em;
  color: var(--color-secundario);
  font-weight: 600;
}

.container-hermanos p{
  font-family: var(--fuente-texto);
  font-size: var(--tamaño-letra-chico);
  color: var(--color-secundario);
  font-weight: 400;
  text-align: center;
}
.container-hermanos p span{
 
  color: var(--color-secundario);
  font-size: 0.8em;
}
.container-hermanos button{
  width: fit-content;
  background-color: var(--color-secundario);
  padding: 5px 10px;
  border-radius: 25px;
  cursor: pointer;
  font-family: var(--fuente-texto);
  color: var(--color-cuarto);
  font-size: var(--tamaño-letra-chico);
}
.container-instagram{
  
  width: 50%;
  margin: auto;

}
/*Maps*/
.maps {
  height: 500px;
  width: 80%;
  margin: 50px auto;
  border: #4e7745 2px solid;
}
.banner-faq {
  width: 100%;

  background-color: rgba(160, 191, 147, 0.2);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.faq-h4 {
  font-family: var(--fuente-texto);
  font-size: var(--tamaño-letra-mediano);
  color: var(--color-primario);
  margin: 10px 0;
}
.contenedor-btn-mostra_acordeon {
  margin: auto;
  width: 90%;
  max-width: 800px;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.mostra_acordeon {
  font-family: var(--fuente-texto);
  font-size: var(--tamaño-extra-chico);
  color: var(--color-secundario);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 25px;
  cursor: pointer;
  background-color: var(--color-cuarto);
}
.acordeon {
  display: none;
  margin: 0px auto 0px;
}

.acordeon-seve {
  margin: 0px auto 0px;
}
.acordeon,
.acordeon-seve {
  width: 90%;
  max-width: 800px;

  font-family: Arial, sans-serif;
  justify-content: center;
  flex-direction: column;
}

/* Botones del acordeón */
.acordeon-item {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
  cursor: pointer;
  padding: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
}
.acordeon-item i {
  color: var(--color-cuarto);
}
.acordeon-item h3 {
  font-size: var(--tamaño-extra-chico);
}
.acordeon-item:hover {
  background-color: #e1e1e1;
}

/* Contenido del acordeón (oculto por defecto) */
.acordeon-content {
  display: none;
  background-color: var(--color-cuarto);
  padding: 15px;
  font-size: 16px;
  color: var(--color-secundario);
  border-top: 1px solid #ccc;
}

/* Estilo para mostrar el contenido del acordeón abierto */
.acordeon-item.active + .acordeon-content {
  display: block;
}

footer {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  padding: 30px;
  font-family: var(--fuente-texto);
}
.container-footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  margin-bottom: 20px;
}

.footer-ubicacion,
.footer-contacto {
  flex: 1;
}

footer .copy {
  text-align: center;
  border-top: 2px solid var(--color-secundario);
  font-size: var(--tamaño-extra-chico);
}

.footer-ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.footer-ubicacion h4 {
  font-size: var(--tamaño-letra-chico);
}

.footer-ubicacion p {
  font-size: var(--tamaño-extra-chico);
}
.footer-contacto h4 {
  font-size: var(--tamaño-letra-chico);
  margin-bottom: 15px;
  font-weight: 400;
}

.footer-contacto a {
  margin: 20px;
  font-size: 25px;
  color: var(--color-secundario);
}

@keyframes mover {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes bailar {
  0% {
    transform: scale(1.1);
  }
}
@keyframes cambiodefoto {
  0% {
    background-image: url(imagenes/fondo-home-cuatro.webp);
    background-position: center -50%;
  }
  20% {
    background-image: url(imagenes/fondo-home-tres.webp);
  }
  40% {
    background-image: url(imagenes/fondo-home-dos.webp);
  }
  60% {
    background-image: url(imagenes/fondo-home-quinto.webp);
  }
  80% {
    background-image: url(imagenes/fondo-home.webp);
  }
}
@keyframes cambiofotoMovile {
  0% {
    background-image: url(imagenes/fondo-home-movile.webp);
  }
  20% {
    background-image: url(imagenes/fondo-home-movile-dos.webp);
  }
  40% {
    background-image: url(imagenes/fondo-home-movile-tres.webp);
  }
  60% {
    background-image: url(imagenes/fondo-home-movile-cuatro.webp);
  }
  80% {
    background-image: url(imagenes/fondo-home-movile-cinco.webp);
  }
}
@media screen and (max-width:850px){
  
  .contenedor-deimagenprincipal h1{
    font-size: 6em;
    margin-bottom: 100px;
  }
  .contenedor-deimagenprincipal div img {
    width: 60px;
    margin-bottom: 100px;
  }
}
  

@media screen and (max-width: 600px) {
  .saludo_img img {
    width: 100px;
  }

  .contenedor-cambiar {
    font-size: 13px;
    justify-content: center;
    flex: 3;
  }

  .cont-saludo nav ul {
    gap: 5px;
  }

  nav ul li {
    font-size: var(--tamaño-extra-chico);
    font-weight: 700;
  }

  .contenedor-deimagenprincipal {
    background-image: url(imagenes/baseMovile.png);
    animation: cambiofotoMovile 8s infinite steps(1);
    
    width: 100%;
    height: 60vh; 
  }
  .contenedor-deimagenprincipal h1 {
    font-size: 4em;
    margin-bottom: 20%;
  }
  .contenedor-deimagenprincipal div img {
    display: none;
  }
  #h2-home-prin {
    margin: 0px 10px;
    font-size: var(--tamaño-extra-chico);
  }
  .Beneficio-titulo_btn {
    font-size: var(--tamaño-extra-chico);
  }
  .container-video {
  width: 100%;
  margin: 0;
   
  }
  .container-video h2{
    font-size: 3em;
    margin: 10px 20px 35px;
  }
  .video-negrita {
    margin: 0 20px  ;
    font-size: 2.5em;

  }
  .video-negrita-2 {
    margin: 0 20px 30px;
    font-size: 2em;
  }
  .container-video p {
    font-size: 2.5em;
 margin: 0px 20px 30px;
  } 
  .video-mayuscula {
    margin: 0 ;
  }
  .video {
    width: 100%;
  }
.container-instagram{
  width: 90%;

}
  .maps {
    height: 300px;
  }
  .faq-h4 {
    font-size: var(--tamaño-extra-chico);
  }
  .mostra_acordeon {
    font-size: var(--tamaño-extra-chico);
  }
  .Beneficio-titulo_btn-2 {
    font-size: var(--tamaño-extra-chico);
  }
  .acordeon-item h3 {
    font-size: var(--tamaño-movile);
  }
  footer {
    padding: 10px;
  }
  .container-footer {
    flex-direction: column;
    align-items: initial;
    text-align: initial;
    gap: 10px;
  }
  .footer-ubicacion,
  .footer-contacto {
    margin: 0px;
  }

  .footer-ubicacion h4 {
    font-size: 18px;
    font-weight: 900;
  }
  .footer-ubicacion h5 {
    font-size: var(--tamaño-movile);
  }
  .footer-ubicacion p {
    font-size: 13px;
  }

  .footer-contacto h4 {
    font-size: 18px;
    font-weight: 900;
  }

  .footer-contacto a {
    margin: 5px;
    font-size: 20px;
  }

  .copy {
    font-size: 10px;
  }
}
