* {
    box-sizing: border-box;
    max-width: 100vw;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #cbf3f0;
    margin-top: 100px;
    padding: 0px;



}

.cont-saludo {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    position: fixed;
    top: 0px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #cbf3f0 35%, #2ec4b6);
    z-index: 7000;

}

.saludo_img {
    flex: 1
}

.contenedor-cambiar {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: flex-start;
    font-size: 18px;
}

.cont-saludo nav {
    display: flex;
    justify-content: center;
    flex: 1;

}

.saludo_img img {

    width: 100px;


}

nav ul {
    list-style: none;

}

nav ul li {
    display: inline-block;
    margin: 0px 5px;
    font-size: 18px;
    cursor: pointer;


}

.icon {
    font-size: 20px;
}


.icon-bar {
    color: #ff9f1c;
    cursor: pointer;
    display: none;
}



.saludo_img {
    flex: 1
}

.contenedor-cambiar {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: flex-start;
    font-size: 18px;
    text-align: center;
    cursor: default;
}

.cont-saludo nav {
    display: flex;
    justify-content: center;
    flex: 1;

}

.saludo_img img {

    width: 100px;


}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0px 5px;
    font-size: 18px;
    cursor: pointer;
}

nav ul li:hover,
nav i:hover {
    color: #ff9f1c;
    font-size: 18px;
}

.icon {
    font-size: 20px;
}




.icon-bar {
    color: #ff9f1c;
    cursor: pointer;
    display: none;
}



.contendor-img-estatico {

    height: 500px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ff9f1c;

}

.Texto-H {
    display: flex;
    text-align: center;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    margin: 0px 20px;
    align-items: center;
    height: 60%;
}

.img-estatico {
    width: 100%;
    height: 100%;
    background-image: url(imagenes/mity2.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    flex: 1;
    position: relative;
    background-position: right 80%;
}

#primer-btn-contacto {

    width: 150px;
    height: 35px;
    background-color: #007bff;
    border-radius: 25px;
    margin-bottom: 5px;


}

#primer-btn-contacto:hover {
    background-color: #00a9ee;
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;

}

#primer-btn-contacto a {
    text-decoration: none;
    color: #000;
}

.onda_de_IMG-Est {
    position: absolute;


}

.onda-movile {
    display: none;
    position: absolute;
}

footer {
    background-color: #2ec4b6;
    color: #000;
    padding: 30px;
}

.container-footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 20px;

}

.footer-ubicacion,
.footer-contacto {
    flex: 1;
}

footer .copy {
    text-align: center;
    border-top: 2px solid #000;

}

.footer-ubicacion {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-ubicacion h4 {
    font-size: 20px;
}

.footer-ubicacion p {
    font-size: 15px;
    font-weight: 100;

}

.footer-contacto h4 {
    font-size: 23px;
    margin-bottom: 15px;

}

.footer-contacto a {
    margin: 20px;
    font-size: 25px;


}

.footer-contacto a:hover {
    border-top: 3px solid #ff0000;
    transition: 1s;

    border-bottom: 3px solid #ff0000;

}


@media screen and (max-width : 1475px) {

    .saludo_img {
        flex: 1;
    }

    .saludo_img img {
        width: 55px;
    }

    .contenedor-cambiar {
        font-size: 13px;
        justify-content: center;
        flex: 3;

    }

    .nav {
        justify-content: end !important;

        background: linear-gradient(to right, #cbf3f0 35%, #2ec4b6);
        flex-direction: column;
        width: 100vw;
        position: absolute;
        height: 300%;
        top: -100vh;
        z-index: -1;
    }

    .active-nav {
        top: 0px;
    }


    .cont-saludo nav ul {
        position: relative;
        justify-content: end;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 0px;
        height: 70%;
    }

    nav ul li {
        margin: 3px;
        font-size: 18px;
    }

    nav ul li:hover {
        background: #cbf3f0;
        width: 100%;
    }

    .icon-bar {
        display: flex;
        flex: 1;
        justify-content: center;
        align-content: center;
        text-align: center;

    }


    .icon-bar i {
        text-align: center;

        font-size: 30px;
    }

    .contendor-img-estatico {
        flex-direction: column;
    }

    .historia {
        text-align: start;
    }

    .img-estatico {
        flex: 1;
        background-size: cover;

    }

    .onda-computadora {
        display: none;
    }

    .onda-movile {
        display: block;
        top: -1px;
        width: 100%;
    }



   
    .contendor-img-estatico {
        height: 700px;
    }

   


    .footer-ubicacion,
    .footer-contacto {
        margin: 0px;

    }

    .footer-ubicacion h4 {
        font-size: 15px;
    }

    .footer-ubicacion p {
        font-size: 13px;
    }

    .footer-contacto h4 {
        font-size: 18px;
    }

    .footer-contacto a {
        margin: 5px;
        font-size: 20px;
    }

    .copy {
        font-size: 10px;
    }
}