body {
    background-color: #cbf3f0;
}

.contenedor-de-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    width: auto;
    padding: 0px;
   
    
}
.logo{
    width: 500px;
    height: 300px;
    object-fit: cover;
    animation-name: agrandar ;
    animation-duration: 10s;
    animation-iteration-count: infinite ;
    animation-timing-function: ease-in-out;
}
.imput-recibimiento {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: double;
    border-color: #2ec4b6;
    padding-bottom: 10px;
    width: 90vw;
    border-radius: 25px;
    margin: auto;
    flex-wrap: nowrap;

}
.Hola{
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
}
#Nombre , #Michi{
    
    border-radius: 25px;
    
}
.label{
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    margin-bottom: 10px;
}
.Error-nombre p, .Error-michi p{
    color: red;
    padding-top: 0px;
    margin-top: 0px;
}
#continuar{
    background-color: #0d6efd;
    margin: 10px;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
}
#continuar:hover{
    background-color: #ff9f1c;
    padding: 10px 50px;
    transition: 1s;
}
.Guarderia-Tatos{
    text-decoration: none;
    color: #ffffff ;
}

@keyframes agrandar {
    0% {
        transform: scale(.9);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(1);
    }
    100% {
        transform: scale(.9);
    }
   
    
}
@media screen and (min-width: 800px){
    .imput-recibimiento{
        width: 400px;
    }
    
}