@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Chau+Philomene+One:ital@0;1&display=swap");

:root {
  --fuente-titulo: "Chau Philomene One", sans-serif;
  --fuente-parrafo: "Belleza", cursive;
  --letra-grande: 5em;
  --letra-no-tan-grande: 4em;
  --letra-mediana: 3.5em;
  --letra-no-tan-mediana: 3em;
  --letra-chica: 2em;
  --color-primary: #edeede;
  --color-secundario: #e9e9e9;
  --color-terciario: #dae1d2;
  --color-cuarto: #56694f;
  --color-quinto: #94a269;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  background-color: #e9e9e9;
}

.cont-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-cuarto);
  padding: 20px 100px 100px;
  cursor: default;
  position: relative;
  color: var(--color-primary);
}

.cont-header-texto {
  text-align: center;
}
h1 {
  font-family: var(--fuente-titulo);
  font-size: var(--letra-grande);
}
h2 {
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-no-tan-grande);
}

/**onda svg**/
.custom-shape-divider-bottom-1714662808 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1714662808 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 67px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1714662808 .shape-fill {
  fill: #e9e9e9;
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-bottom-1714662808 svg {
    width: calc(100% + 1.3px);
    height: 27px;
  }
}
main {
  display: flex;
  flex-direction: column;
 
  color: var(--color-cuarto);
  padding: 0px 100px;
  align-items: center;
  justify-content: center;
  position: relative;
  
  
}
.Contenedor-video{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100vw;
  
}
.main-titulo {
  font-family: var(--fuente-titulo);
  font-size: var(--letra-mediana);
  text-align: center;
  margin: 0px 100px;
}
.span-catsitter {
  color: blue;
}
.span-100_gatos {
  color: green;
}
.span-todo {
  color: #ec7c26;
}
.main-parrafo {
  font-size: var(--letra-no-tan-mediana);
  font-family: var(--fuente-parrafo);
  text-align: center;
  margin: 20px 0px;
}
.contenedor-video {
  width: 500px;
  margin: auto;
}
.boton-comprar {
  background-color: var(--color-cuarto);

  border: none;
  margin: 20px 0px;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
}
.boton-comprar:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
.a {
  text-decoration: none;
  color: var(--color-primary);
  font-family: var(--fuente-titulo);
  font-size: var(--letra-chica);
}
.custom-shape-divider-bottom-1714759949 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1714759949 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 76px;
}

.custom-shape-divider-bottom-1714759949 .shape-fill {
  fill: #94A269;
}
.contenedor-q-llevas{
 background-color: var(--color-quinto);
 width: 100vw;
 padding: 30px 0px;
}
.q-llevas_h3{
  color: var(--color-primary);
  font-family: var(--fuente-titulo);
  font-size: var(--letra-grande);
  text-align: center;
}
.es-para{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0px;
  border-bottom: dotted 5px var(--color-primary) ;
  padding: 20px 0px;
}
.fila-1{
  flex: 1;
  margin:0px 50px
}
.fila-2{
  flex: 1;
}
.fila-2 img{
  width: 300px;
}
.fila-1 h4{
  color: black;
  font-family: var(--fuente-titulo);
  font-size: var(--letra-no-tan-mediana);
  margin: 20px 0px;

 
}
.fila-1 h5{
  color: black;
  font-family: var(--fuente-titulo);
  font-size: var(--letra-chica);
  margin: 20px 0px;
  
}
.fila-1 p{
  color: black;
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-chica);
  margin: 20px 20px;
}
