@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Chau+Philomene+One:ital@0;1&display=swap");

:root {
  --fuente-titulo: "Chau Philomene One", sans-serif;
  --fuente-parrafo: "Belleza", cursive;
  --letra-grande: 5em;
  --letra-no-tan-grande: 4em;
  --letra-mediana: 3.5em;
  --letra-no-tan-mediana: 3em;
  --letra-chica: 2em;
  --letra-extra-chica: 1.2em;
  --color-primary: #edeede;
  --color-secundario: #e9e9e9;
  --color-terciario: #dae1d2;
  --color-cuarto: #56694f;
  --color-quinto: #94a269;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  background-color: var(--color-primary);
  overflow-x: hidden;
}
header {
  display: flex;
  background-color: var(--color-terciario);
  justify-content: center;
  margin-bottom: 20px;
}

.header_titulo-subtitulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-cuarto);
}

.header_titulo-subtitulo h1 {
  font-family: var(--fuente-titulo);
  font-size: 6em;
}
.header_titulo-subtitulo h2 {
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-mediana);
  margin: 10px 0px 20px;
}
.contenedor-prepara {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  align-items: center;
}
.prepara_contenedor-texto {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 0px 10px;
}
.prepara_contenedor-texto h3 {
  font-family: var(--fuente-titulo);
  font-size: var(--letra-no-tan-mediana);
  color: var(--color-cuarto);
}
.prepara_contenedor-texto h3 span {
  background-color: var(--color-quinto);
  padding: 5px;
  border-radius: 25px;
  color: var(--color-primary);
  margin: 20px 0px;
}
.prepara_contenedor-texto p {
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-chica);
  color: var(--color-cuarto);
  margin: 10px 0px;
}
.prepara_contenedor-texto button {
  background-color: var(--color-quinto);
  padding: 10px 20px;
  border: solid 1px var(--color-cuarto);
  border-radius: 25px;
  cursor: pointer;
  margin: 20px 0px;
  font-family: var(--fuente-parrafo);
}
.prepara_contenedor-texto button:hover {
  -webkit-animation: shake-top 0.8s 3;
  animation: shake-top 0.8s 3;
  background-color: var(--color-cuarto);
  color: var(--color-quinto);
  transform: scale(1.05);
}
.prepara_contenedor-texto a {
  text-decoration: none;
  color: var(--color-primary);
  font-size: var(--letra-chica);
}
.contenedor-video-flash-back {
  flex: 1;
}
.contenedor-video-flash-back video{
  border-radius: 25px;
  width: 500px;
  height: 500px;
}
.explicacion-header {
  width: 100%;
  text-align: center;
  color: var(--color-primary);
  background-color: #56694f;
  font-family: var(--fuente-titulo);
  font-size: var(--letra-mediana);

  padding: 30px 0px;
}
.explicacion-video {
  flex: 1;
  width: 100%;
  height: 100%;
}

.explicacion-video h4 {
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-no-tan-grande);
  color: var(--color-primary);
}

.contenedor-explicacion-descripcion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 10px;
  background-color: var(--color-quinto);
  gap: 10px;
}
.explicacion-texto {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}
.explicacion-texto h4 {
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-no-tan-mediana);
  margin: 10px 0px;
  color: var(--color-primary);
  margin: 0px 0px 50px;
}
.explicacion-texto h3 {
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-no-tan-mediana);
  color: var(--color-primary);
  margin: 0px 0px 30px;
}
.explicacion-de-beneficios {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: var(--fuente-titulo);
  font-size: var(--letra-no-tan-mediana);
  color: var(--color-cuarto);
  text-align: center;
  align-items: center;
  border-radius: 5px 25px;
  background-color: var(--color-terciario);
}
.beneficio {
  flex: 1;
  padding: 10px 20px;
  margin: 10px;
}

.beneficio img {
  width: 180px;
  height: auto;
 
}
.button-beneficio {
  margin: 20px auto;
  width: fit-content;
  background-color: var(--color-primary);
  padding: 10px 20px;
  border: solid 1px var(--color-cuarto);
  border-radius: 25px;
  cursor: pointer;
  font-family: var(--fuente-parrafo);
}
.button-beneficio:hover {
  transform: scale(1.2);
  -webkit-animation: shake-top 0.8s 3;
  animation: shake-top 0.8s 3;
}
.button-beneficio a {
  text-decoration: none;
  color: var(--color-quinto);
  font-size: var(--letra-chica);
  font-family: var(--fuente-parrafo);
}
.contenedor-lograras {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.lograras-beneficios_texto{
  flex: 1;
}
.contenedor-lograrash4{
  background-color: var(--color-secundario);
  width: 100%;
}
.lograras-h4 {
  font-family: var(--fuente-titulo);
  font-size: var(--letra-mediana);
  color: var(--color-cuarto);
  margin: 20px 0px 20px;
  background-color: var(--color-secundario);
}
.lograras-beneficios{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  color: var(--color-cuarto);
  text-align: center;
  align-items: center;
margin: 20px 30px;
 
  
}
.lograras-beneficios h5{
  font-family: var(--fuente-titulo);
  font-size: var(--letra-mediana);
  color: var(--color-cuarto);
  margin: 10px 0px;
}
.lograras-beneficios p{
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-chica);
  color: var(--color-cuarto);
  text-align: left;
}
.lograras-beneficios p span{
  color: var(--color-primary);
  background-color: var(--color-quinto);
  border-radius: 25px;
  padding: 0px 10px;
}
.lograras-beneficios_img{
  flex: 1;
  
}

.lograras-beneficios_img img{
  box-shadow: 10px 10px 15px var(--color-cuarto);
  border-radius: 25px;
}
.acordeon-temario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px 0px;
  background-color: var(--color-quinto);
}
.acordeon-temario h4{
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-mediana);
  color: var(--color-primary);
  margin: 20px 0px;
}
.acordeon-temario button{
  margin: 20px 0px;
  width: fit-content;
  background-color: var(--color-primary);
  padding: 10px 20px;
  border: solid 1px var(--color-cuarto);
  border-radius: 25px;
  cursor: pointer;
  font-family: var(--fuente-parrafo);
  color: var(--color-cuarto);
  font-size: var(--letra-mediana);
}

.acordeon-temario button:hover {
  -webkit-animation: shake-top 0.8s 3;
  animation: shake-top 0.8s 3;
}
.temario{
  text-align: left;
  font-family: var(--fuente-titulo);
  align-items: center;
  color: var(--color-secundario);
  display: none;
}
.temario p{
  font-size: var(--letra-chica);
}

#btn-accede_ahora{
  
  margin: 20px 0px;
  width: fit-content;
  background-color: var(--color-primary);
  padding: 10px 20px;
  border: solid 1px var(--color-cuarto);
  border-radius: 25px;
  cursor: pointer;
  font-family: var(--fuente-parrafo);
  color: var(--color-quinto);
  margin: auto;
  align-items: center;
  
}
.temario button a{
  text-decoration: none;
  color: var(--color-cuarto);
font-size: var(--letra-extra-chica);
}
.contenedor-contaras{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
  background-color: var(--color-primary);
}
.contaras-h4{
  width: 100%;
  background-color: var(--color-secundario);
}
.contaras-h4 h4{
  font-family: var(--fuente-titulo);
  font-size: var(--letra-mediana);
  color: var(--color-quinto);
  padding: 20px 0px;
}
.contaras-item{
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
}
.contaras-texto{
  flex: 1;
  padding: 20px;
  
}
.contaras-texto h5{
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-mediana);
  color: var(--color-cuarto);
  margin: 10px 0px;
}
.contaras-texto p{
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-chica);
  color: var(--color-cuarto);
  text-align: center;
}
.contaras-img{
  flex: 1;
}
.Ci2 img, .Ci1 img, .Ci3 img, .Ci4 img, .Ci5 img{
  border-radius: 25px;
  box-shadow: 10px 10px 15px var(--color-cuarto);
}
.container-todo_regalos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-secundario);
}
.regalos-container-h4{
  width: 100%;
  background-color: var(--color-cuarto);
}

.regalos-container-h4 h4{
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-mediana);
  color: var(--color-primary);
  padding: 20px 0px;
}
.regalo{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
padding: 30px ;
  width: 100%;
}
.regalo-texto {
  flex: 1;
  

}
.regalo-texto h5{
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-mediana);
  color: var(--color-cuarto);
  
}

.regalo-texto p{
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-chica);
  color: var(--color-cuarto);
  text-align: center;
}
.regalos-img{
  flex: 1;
}
.btn-accede_ahora-con-regalos{
  
  margin: 20px 0px;
  width: fit-content;
  background-color: var(--color-cuarto);
  padding: 10px 20px;
  border: solid 1px var(--color-quinto);
  border-radius: 25px;
  cursor: pointer;
  
  color: var(--color-quinto);
  margin: 20px auto;
  align-items: center;
}
.btn-accede_ahora-con-regalos:hover{
  -webkit-animation: shake-top 0.8s 3;
  animation: shake-top 0.8s 3;
}
.btn-accede_ahora-con-regalos a{
  text-decoration: none;
  color: var(--color-primary);
  font-size: var(--letra-no-tan-mediana);
  font-family: var(--fuente-parrafo);
}
.contenedor-quien-soy{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-quinto);
}
.quiensoy-h4{
  width: 100%;
  background-color: var(--color-cuarto);
}
.quiensoy-h4 h4{
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-mediana);
  color: var(--color-primary);
  padding: 20px 0px;
}
.quiensoy-pimg{
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
}
.quiensoy-img{
  flex: 1;
}
.quiensoy-img img{
  border-radius: 25px;
  box-shadow: 10px 10px 15px var(--color-cuarto);
}
.quiensoy-p{
  flex: 1;
  padding: 20px;
}
.quiensoy-p p{
  text-align: left;
  font-family: var(--fuente-parrafo);
  font-size: 2.5em;
  color: var(--color-cuarto);
}
.contenedor-entonces-quellevas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-cuarto);
}
.entonces-h4{
  width: 100%;
  background-color: var(--color-terciario);
}
.entonces-h4 h4{
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-mediana);
  color: var(--color-cuarto);
  padding: 20px 0px;
}
.contenedor-entonces-quellevas{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-cuarto);
  width: 100%;
}
.entonces-h4{
  width: 100%;
  background-color: var(--color-terciario);
}
.entonces-imgp{
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
  width: 100%;
}
.entonces-img{
  flex: 1;
}
.entonces-t{
  flex: 1;
  padding: 20px;
}

.entonces-t h5{
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-mediana);
  color: var(--color-primary);
  text-align: left;
  margin: 10px 0px;
}

.entonces-t p{
  text-align: left;
  font-family: var(--fuente-parrafo);
  font-size: 2.5em;
  color: var(--color-primary);
}
#contador{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-primary);
  padding: 20px;
  border-radius: 25px;
  margin: 10px;
}

#contador h4{
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-mediana);
  color: var(--color-cuarto);
}
#contador h4 .cien{
  color: red;
  text-decoration: line-through;
}

#contador h4 .porciento , .porciento{
  color: #008000
}
#contador h3{
  font-family: var(--fuente-parrafo);
  font-size: 4.5em;
  color: #008000;
}
.contenedor-contador{
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-grande);
  color: var(--color-primary);
  border: solid 1px black ;
  border-radius: 25px;
  background-color: var(--color-cuarto);
  padding: 30px 20px;
  margin: 10px 0px;
}
.btn-ultimaoportinidad{
  margin: 20px 0px;
  width: fit-content;
  background-color: var(--color-quinto);
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  
  
  margin: 20px auto;
  align-items: center;
}

.btn-ultimaoportinidad:hover{
  -webkit-animation: shake-top 0.8s 3;
  animation: shake-top 0.8s 3;
}

.btn-ultimaoportinidad button{
  background-color: var(--color-quinto);
  border: none;
}

#acceder-ultimo{
  text-decoration: none;
 border: var(--color-quinto);
 color: var(--color-cuarto);
  font-size: var(--letra-chica);
  font-family: var(--fuente-parrafo);
}
.container-preguntas-frecuentes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-primary);
  width: 100%;
}
.preguntas-frecuentes-container{
  width: 100%;
  margin: 20px 0px;
}
.container-preguntas-frecuentes-h5{
  font-family: var(--fuente-parrafo);
  font-size: var(--letra-mediana);
  color: var(--color-cuarto);
  margin: 20px 0px;
}
.acordeon {
  font-family: var(--fuente-parrafo);
  width: 100%;
  margin: 0 auto;
  
  
}

.acordeon-item {
  border-bottom: 1px solid var(--color-cuarto);
}
.container-preguntas-frecuentes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-primary);
}
.acordeon-header {
  background: var(--color-primary);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--letra-chica);
  color: var(--color-cuarto);
  margin: 10px;
}

.acordeon-header .flecha {
  font-size: 24px;
  transition: transform 0.3s;
}

.acordeon-content {
  display: none;
  padding: 10px;
  background: var(--color-quinto);
}

.acordeon-content p {
  margin: 0;
  font-size: var(--letra-chica);
  color: var(--color-cuarto);
  font-family: var(--fuente-parrafo);
}
footer{
  background-color: var(--color-cuarto);
  color: var(--color-primary);
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  font-size: var(--letra-mediana);
  font-family: var(--fuente-titulo);
}
@media  (max-width: 768px) {
  header{
    margin: 0px 0px 5px 0px;
  }
.header_titulo-subtitulo h1{
  font-size: 4em;
}
.header_titulo-subtitulo h2{
  font-size: var(--letra-no-tan-mediana);
}
.contenedor-video-flash-back video{
  width: 380px;
  height: 380px;
}
.explicacion-video h4{
  font-size: var(--letra-no-tan-mediana);
}
.contenedor-prepara{
  flex-direction: column-reverse;
}
.prepara_contenedor-texto a{
  font-size: var(--letra-chica);
}
.contenedor-explicacion-descripcion{
  flex-direction: column;
}
.explicacion-texto h4{
  margin: 0px;
  font-size: var(--letra-chica);
  
}
.explicacion-de-beneficios{
  flex-direction: column;
}
.explicacion-texto h3{
  margin:15px 0px; ;
}
.beneficio{
  margin: 5px;
  padding: 5px 10px;
}
.lograras-h4{
  font-size: var(--letra-no-tan-mediana);
}
.lograras-beneficios{
  flex-direction: column;
  gap: 10px;
  margin: 5px 30px;
}
.acordeon-temario h4{
  margin: 5px 0px;
}
.acordeon-temario button{
  font-size: var(--letra-no-tan-mediana);
}
.temario p{
  margin: 0px 10PX;
}
.temario button a{
  font-size: var(--letra-extra-chica-chica);
}
.contaras-h4 h4{
  font-size: var(--letra-no-tan-mediana);
}
.contaras-item{
  flex-direction: column;
}
.regalos-container-h4 h4{
  font-size: var(--letra-no-tan-mediana);
}
.regalo{
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.btn-accede_ahora-con-regalos a{
  font-size: var(--letra-chica);
}
.quiensoy-pimg{
  flex-direction: column;
}
.entonces-h4 h4{
  font-size: var(--letra-no-tan-mediana);
}
.entonces-imgp{
  flex-direction: column;
}
.entonces-img img{
  width: 100%;
}
}